@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  color: #ffffff !important;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
* .active_had {
  background-color: #221779;
  color: #ffffff;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  color: #ffffff;
}

.text_color {
  background: #302ab3 !important;
}

.text_color_1 {
  background: #25238f !important;
}

.text_color_2 {
  background: #3221ad !important;
}

.text_color_3 {
  background: #261986 !important;
}

.boder {
  border-radius: 0px 0px 0px 6px !important;
  -webkit-border-radius: 0px 0px 0px 6px !important;
  -moz-border-radius: 0px 0px 0px 6px !important;
  -ms-border-radius: 0px 0px 0px 6px !important;
  -o-border-radius: 0px 0px 0px 6px !important;
}

.boder_1 {
  border-radius: 6px 0px 0px 0px !important;
  -webkit-border-radius: 6px 0px 0px 0px !important;
  -moz-border-radius: 6px 0px 0px 0px !important;
  -ms-border-radius: 6px 0px 0px 0px !important;
  -o-border-radius: 6px 0px 0px 0px !important;
}

.boder_3 {
  border-radius: 0px 6px 0px 0px !important;
  -webkit-border-radius: 0px 6px 0px 0px !important;
  -moz-border-radius: 0px 6px 0px 0px !important;
  -ms-border-radius: 0px 6px 0px 0px !important;
  -o-border-radius: 0px 6px 0px 0px !important;
}

.boder_4 {
  border-radius: 0px 0px 6px 0px !important;
  -webkit-border-radius: 0px 0px 6px 0px !important;
  -moz-border-radius: 0px 0px 6px 0px !important;
  -ms-border-radius: 0px 0px 6px 0px !important;
  -o-border-radius: 0px 0px 6px 0px !important;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p {
  color: #a89ffe !important;
  font-size: 16px !important;
  line-height: 25px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button a {
  text-decoration: none;
}

.sav_title {
  margin-top: 200px !important;
}
.sav_title .title {
  display: flex;
}
.sav_title .title .line {
  width: 100px;
  height: 2px;
  background-color: #08BCF0;
  position: absolute;
}
.sav_title .title h6 {
  margin-left: 120px !important;
  margin-top: -10px !important;
  color: #08BCF0 !important;
  letter-spacing: 4px;
}
.sav_title h1 {
  margin-top: 30px !important;
}
.sav_title p {
  font-weight: 400;
  color: #a89ffe !important;
  margin-top: 30px !important;
  line-height: 30px;
}

.background_image {
  height: 1000px;
  background: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw !important;
}
.background_image .nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_image .nav .navbar_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_image .nav .navbar_title ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_image .nav .navbar_title ul li a {
  padding: 10px !important;
  font-weight: bold !important;
  text-decoration: none;
  font-size: 15px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.background_image .nav .navbar_title ul li a:hover {
  color: #46bdf4 !important;
}
.background_image .nav .Hat_button button {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(255, 0, 0, 0);
  min-width: auto;
  padding: 0 23px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 1px solid;
  margin-top: 8px !important;
}
.background_image .nav .Hat_button button:hover {
  background-image: linear-gradient(to right, #7a5cff 0%, #a722f4 100%);
}
.background_image .hore_bg {
  display: flex;
}
.background_image .hore_bg .hore_bg_title {
  margin-top: 100px !important;
}
.background_image .hore_bg .hore_bg_title h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.4;
}
.background_image .hore_bg .hore_bg_title p {
  font-size: 25px !important;
  font-weight: normal;
  color: #BEB7F5 !important;
  line-height: 1.5;
  margin-top: 20px !important;
}
.background_image .hore_bg .hore_bg_title ul {
  margin-top: 20px !important;
  display: flex;
  align-items: center;
}
.background_image .hore_bg .hore_bg_title ul a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px !important;
  display: flex;
  align-items: center !important;
  font-weight: 600;
  color: #08BCF0 !important;
}
.background_image .hore_bg .hore_bg_title ul a * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.background_image .hore_bg .hore_bg_title ul a i {
  padding: 10px !important;
  background-color: #08BCF0;
  height: 36px;
  width: 34px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  align-items: center !important;
  justify-content: center;
  margin-right: 10px !important;
}
.background_image .hore_bg .hore_bg_title ul a:hover {
  color: #a722f4 !important;
}
.background_image .hore_bg .hore_bg_title ul a:hover i {
  background: #a722f4;
}
.background_image .hore_bg .hore_bg_img img {
  width: 1150px;
  height: 740px;
}

.our_ratlngs_crypto,
.Tokenization {
  height: 1200px;
  display: flex;
  background-image: linear-gradient(to bottom, #3e2bc5 0%, #261986 100%);
  justify-content: center !important;
}
.our_ratlngs_crypto .our_ratlngs,
.Tokenization .our_ratlngs {
  justify-content: center;
}
.our_ratlngs_crypto .our_ratlngs .con,
.Tokenization .our_ratlngs .con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px !important;
}
.our_ratlngs_crypto .our_ratlngs .con h3,
.Tokenization .our_ratlngs .con h3 {
  font-weight: 500 !important;
  letter-spacing: 5px !important;
  font-size: 20px;
  color: #BEB7F5 !important;
}
.our_ratlngs_crypto .our_ratlngs .justify_content,
.Tokenization .our_ratlngs .justify_content {
  justify-content: space-between !important;
  display: flex;
}
.our_ratlngs_crypto .our_ratlngs .icon_ench,
.Tokenization .our_ratlngs .icon_ench {
  margin-top: 100px !important;
  height: 48%;
  width: 80%;
  background-color: #634FF1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.our_ratlngs_crypto .our_ratlngs .icon_ench .title,
.Tokenization .our_ratlngs .icon_ench .title {
  padding-top: 10px !important;
  display: flex;
  justify-content: center;
}
.our_ratlngs_crypto .our_ratlngs .icon_ench .title h1,
.Tokenization .our_ratlngs .icon_ench .title h1 {
  font-weight: bold;
  font-size: 50px;
}
.our_ratlngs_crypto .our_ratlngs .icon_ench .title span,
.Tokenization .our_ratlngs .icon_ench .title span {
  color: #D1BCFB !important;
  font-size: 20px;
  margin-top: 25px !important;
}
.our_ratlngs_crypto .our_ratlngs .icon_ench .title_box,
.Tokenization .our_ratlngs .icon_ench .title_box {
  margin-top: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 230px;
  background-color: #160977;
}
.our_ratlngs_crypto .crypto,
.Tokenization .crypto {
  margin-top: 200px !important;
}
.our_ratlngs_crypto .crypto .conten,
.Tokenization .crypto .conten {
  display: flex;
}
.our_ratlngs_crypto .crypto .conten .crypto_img img,
.Tokenization .crypto .conten .crypto_img img {
  width: 600px;
  height: 450px;
}
.our_ratlngs_crypto .crypto .conten .built .title,
.Tokenization .crypto .conten .built .title {
  display: flex;
}
.our_ratlngs_crypto .crypto .conten .built .title .line,
.Tokenization .crypto .conten .built .title .line {
  width: 100px;
  height: 2px;
  background-color: #08BCF0;
  position: absolute;
}
.our_ratlngs_crypto .crypto .conten .built .title h6,
.Tokenization .crypto .conten .built .title h6 {
  margin-left: 120px !important;
  margin-top: -10px !important;
  color: #08BCF0 !important;
  letter-spacing: 4px;
}
.our_ratlngs_crypto .crypto .conten .built h1,
.Tokenization .crypto .conten .built h1 {
  margin-top: 20px !important;
}
.our_ratlngs_crypto .crypto .conten .built .titl_p,
.our_ratlngs_crypto .crypto .conten .built p,
.Tokenization .crypto .conten .built .titl_p,
.Tokenization .crypto .conten .built p {
  font-size: 20px !important;
  font-weight: normal;
  margin-top: 20px !important;
  line-height: 30px;
  color: #BEB7F5 !important;
}
.our_ratlngs_crypto .crypto .conten .built p,
.Tokenization .crypto .conten .built p {
  font-size: 18px !important;
}

.Tokenization {
  height: 2000px;
  display: flex;
  background: #3e2bc5;
  justify-content: center !important;
}
.Tokenization .crypto_img img {
  height: 350px !important;
  width: 600px !important;
}
.Tokenization #crypto_img img {
  width: 600px !important;
  height: 450px !important;
}

.Best_Features {
  height: 1400px;
  background: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw !important;
}
.Best_Features .sav_title {
  margin-top: 200px !important;
}
.Best_Features .sav_title h1 {
  margin-top: 30px !important;
}
.Best_Features .sav_title p {
  font-weight: 400;
  color: #BEB7F5 !important;
  margin-top: 30px !important;
  line-height: 30px;
}
.Best_Features .icon_cad {
  margin-top: 100px !important;
  height: 84%;
  width: 120%;
  background-color: #3E2BC5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 40px !important;
}
.Best_Features .icon_cad * {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.Best_Features .icon_cad h5 {
  color: #08bcf0 !important;
}
.Best_Features .icon_cad .icon_img {
  display: flex;
  justify-content: center;
  padding-top: 50px !important;
}
.Best_Features .icon_cad .icon_img img {
  width: 160px;
}
.Best_Features .icon_cad .title {
  display: flex;
  justify-content: center;
  margin-top: 30px !important;
}
.Best_Features .icon_cad .title p {
  font-weight: normal !important;
  color: #BEB7F5 !important;
  text-align: center !important;
}
.Best_Features .icon_cad .title .conten_p {
  margin-right: 15px !important;
}
.Best_Features .icon_cad .cad_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Best_Features .icon_cad .cad_button button {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background: #2b56f5;
  position: absolute;
  margin-top: 110px !important;
  opacity: 0;
  margin-bottom: -50px !important;
}
.Best_Features .icon_cad .cad_button button a {
  text-decoration: none;
}
.Best_Features .icon_cad:hover .cad_button button {
  opacity: 4;
  margin-top: 70px !important;
}
.Best_Features .button_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Best_Features .button_title button {
  display: flex;
  margin-top: 100px !important;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 40px !important;
}
.Best_Features .button_title button a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  width: 180px !important;
  height: 50px !important;
}
.Best_Features .button_title .but_1 {
  transition: all 6.1s;
  -webkit-transition: all 6.1s;
  -moz-transition: all 6.1s;
  -ms-transition: all 6.1s;
  -o-transition: all 6.1s;
}
.Best_Features .button_title .but_1:hover {
  background: linear-gradient(to right, #7a5cff 0%, #a722f4 100%) !important;
}
.Best_Features .button_title .btn {
  background: linear-gradient(to right, rgba(167, 34, 244, 0) 0%, rgba(122, 92, 255, 0) 100%);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  width: 250px !important;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
}
.Best_Features .button_title .btn:hover {
  background: linear-gradient(to right, #a722f4 0%, #7a5cff 100%);
  border: none !important;
}

.Ecosystem {
  height: 1400px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #3e2bc5;
}
.Ecosystem .sav_title {
  margin-top: 200px !important;
}
.Ecosystem .owner {
  margin-top: 100px !important;
  justify-content: center;
  align-items: center;
}
.Ecosystem .owner img {
  width: 200px;
}
.Ecosystem .owner p {
  margin-left: 70px !important;
  line-height: 30px;
}
.Ecosystem .owner p strong {
  color: #a89ffe !important;
}

.Introducing {
  height: 1100px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #261986;
}
.Introducing .sav_title {
  margin-top: 200px !important;
}
.Introducing .conten_title {
  margin-top: 100px !important;
}
.Introducing .conten_title img {
  outline: 0;
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width: 600px;
}
.Introducing .conten_title .icon {
  margin-left: 50px !important;
  display: flex;
  margin-bottom: 40px !important;
}
.Introducing .conten_title .icon i {
  padding: 10px !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-color: #08BCF0;
  height: 46px;
  width: 46px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Introducing .conten_title .icon p {
  margin-left: 20px !important;
  line-height: 30px;
  font-weight: 400 !important;
}

.Token {
  height: 1100px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #3e2bc5;
}
.Token .con {
  display: flex;
  margin-left: 20px !important;
}
.Token .con .cinten_button ul {
  background-color: #3e2bc5;
  border: 1px solid #453fc9;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Token .con .cinten_button ul li {
  display: flex;
  font-weight: 500;
  overflow: hidden;
  font-size: 0.93em;
}
.Token .con .cinten_button ul li .laft_conten {
  width: 60% !important;
  padding: 15px !important;
}
.Token .con .cinten_button ul li .right_conten {
  text-align: justify !important;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #08bcf0 !important;
  width: 52% !important;
  padding: 15px !important;
}
.Token .con .cinten_button ul li a {
  text-decoration: none;
  font-weight: 600;
  padding: 10px !important;
  text-align: justify !important;
}
.Token .STAE {
  background-color: #3221AD;
  height: 260px !important;
  width: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Token .STAE .title {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2352941176);
}
.Token .STAE .title h6 {
  margin-top: 20px !important;
  font-weight: bold;
}
.Token .STAE .title p {
  margin-bottom: 20px !important;
  font-weight: 200 !important;
}
.Token .STAE .title h4 {
  background-color: #735FFF;
  padding: 10px !important;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}
.Token .STAE .conten {
  text-align: center;
}
.Token .STAE .conten h5 {
  margin-top: 10px !important;
  font-size: 18px;
  color: #08BCE5 !important;
  font-weight: bold;
  padding: 5px !important;
}
.Token .STAE .conten p {
  font-weight: 400;
}
.Token .STAE .conten span {
  margin-bottom: 10px !important;
}
.Token .button {
  height: 110px;
  width: 650px;
  margin-top: -50px !important;
  background: #3221AD;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Token .button .title,
.Token .button .title_1 {
  text-align: center !important;
  width: 200px;
  height: 110px;
  background-color: #261986;
  border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  -ms-border-radius: 6px 0px 0px 6px;
  -o-border-radius: 6px 0px 0px 6px;
}
.Token .button .title_1 {
  background-color: rgba(255, 255, 255, 0);
}
.Token .button .title_1 .but {
  font-weight: normal;
  font-size: 20px !important;
  line-height: 50px;
}
.Token .button .title_1 h5 {
  font-size: 23px !important;
}
.Token .button .button_title button {
  display: flex;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  margin-right: 20px !important;
}
.Token .button .button_title button * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.Token .button .button_title button a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  width: 180px !important;
  height: 70px !important;
  text-transform: uppercase;
}
.Token .button .button_title .but_1:hover {
  background: linear-gradient(to right, #7a5cff 0%, #a722f4 100%) !important;
  border: none !important;
}

.Allocation {
  height: 800px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #3E2BC5;
}
.Allocation .box_img h3 {
  margin-left: 20px !important;
  margin-bottom: 50px !important;
  font-weight: bold;
}
.Allocation .box_img img {
  width: 600px;
}

.Documents {
  background: #261986;
  height: 800px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100vw !important;
}
.Documents .box_title {
  display: flex;
}
.Documents .box_title img {
  width: 100px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Documents .box_title .con {
  margin-left: 20px !important;
}
.Documents .box_title .con ul {
  display: flex;
  justify-content: space-between;
  width: 110px;
}
.Documents .box_title .con ul a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  border: 2px solid #d1ccff;
  padding: 10px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3F97DB !important;
  font-weight: 700;
  font-size: 0.86em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Documents .box_title .con ul a:hover {
  color: #7a0fff !important;
}
.Documents .box_title .con .document-title {
  color: #ffffff !important;
}

.Executive {
  height: 1900px;
  background: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw !important;
}
.Executive h4 {
  color: #ffffff !important;
  padding: 70px 0px !important;
  font-weight: bold;
}
.Executive .sav_title {
  margin-bottom: 100px !important;
}
.Executive .cad_img {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  height: 520px;
  width: 300px;
  background-color: #3E2BC5;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Executive .cad_img * {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.Executive .cad_img img {
  margin-top: 50px !important;
  border-radius: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  -ms-border-radius: 400px;
  -o-border-radius: 400px;
  width: 200px;
}
.Executive .cad_img h5 {
  margin-top: 20px !important;
  font-weight: 400 !important;
  margin: 21px 0 1px;
}
.Executive .cad_img span {
  margin-top: 20px !important;
  display: block;
  margin-bottom: 6px;
  color: #08bcf0 !important;
}
.Executive .cad_img p {
  font-weight: 100;
  margin-top: 10px !important;
  display: block;
  margin-bottom: 6px;
  color: #a89ffe !important;
}
.Executive .cad_img ul li {
  display: inline-block;
  margin: 0 8px;
}
.Executive .cad_img ul li a {
  padding: 10px !important;
}
.Executive .cad_img ul li a i {
  margin-top: 40px !important;
  color: #08bcf0 !important;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.Executive .cad_img ul li a i:hover {
  color: #7a0fff !important;
}

.cad_img:hover {
  margin-top: -10px !important;
}

.con_500 {
  background: #261986;
  height: 200px;
}

.Supported {
  height: 700px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #3E2BC5;
}
.Supported a {
  margin-top: 50px !important;
}

.Touch {
  background: #3e2bc5;
  height: 900px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  background: #3E2BC5;
}
.Touch .colten .con_icon {
  margin-top: 30px !important;
}
.Touch .colten .con_icon .title {
  display: flex;
  align-items: center;
  margin-top: 20px !important;
}
.Touch .colten .con_icon .title h5 {
  margin-left: 20px !important;
  font-weight: normal !important;
}
.Touch .colten .con_icon .title i {
  color: #fff !important;
  background: #7a5cff;
  border: 2px solid #7a5cff !important;
  line-height: 34px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
}
.Touch .contact {
  margin-top: 300px !important;
}
.Touch .contact form input,
.Touch .contact form textarea {
  margin-top: 20px !important;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background: #271799;
  padding: 10px !important;
  width: 400px;
  height: 50px;
  border-radius: 6px;
  outline: 0;
}
.Touch .contact form input::-moz-placeholder {
  font-weight: 600 !important;
  color: rgba(255, 255, 255, 0.25) !important;
  text-transform: capitalize;
}
.Touch .contact form input::placeholder {
  font-weight: 600 !important;
  color: rgba(255, 255, 255, 0.25) !important;
  text-transform: capitalize;
}
.Touch .contact form .input_field {
  height: 150px !important;
  padding: 15px;
}
.Touch .contact form .input_field::-moz-placeholder {
  font-weight: 600 !important;
  color: rgba(255, 255, 255, 0.25) !important;
  text-transform: capitalize;
}
.Touch .contact form .input_field::placeholder {
  font-weight: 600 !important;
  color: rgba(255, 255, 255, 0.25) !important;
  text-transform: capitalize;
}
.Touch .contact form .button_title button {
  display: flex;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  margin-right: 20px !important;
  background: linear-gradient(to right, #a722f4 0%, #7a5cff 100%) !important;
  margin-top: 20px !important;
}
.Touch .contact form .button_title button * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.Touch .contact form .button_title button a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  width: 150px !important;
  height: 50px !important;
  text-transform: uppercase;
}
.Touch .contact form .button_title .but_1:hover {
  background: linear-gradient(to right, #7a5cff 0%, #a722f4 100%) !important;
  border: none !important;
}

.updated {
  height: 200px;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.updated .veb {
  margin-top: -150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 75px 65px !important;
  background-color: #5445C4;
}
.updated .veb .title form p {
  margin-left: 150px !important;
  margin-top: 10px !important;
}
.updated .veb .title form .button_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px !important;
}
.updated .veb .title form .button_title button {
  display: flex;
  margin-top: -50px !important;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-right: -230px !important;
  background: linear-gradient(to right, #7a5cff 0%, #a722f4 100%) !important;
}
.updated .veb .title form .button_title button a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  height: 50px !important;
}
.updated .veb .title form .button_title .btn {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  width: 160px !important;
  display: flex;
  justify-content: center;
}
.updated .veb .title form .button_title .btn:hover {
  background: linear-gradient(to right, #a722f4 0%, #7a5cff 100%) !important;
  border: none !important;
}
.updated .veb .title form input {
  padding: 10px 20px !important;
  width: 500px;
  height: 60px;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  outline: 0;
  color: #6e7e98 !important;
}
.updated .veb .title h4 {
  margin-bottom: 20px !important;
}
.updated .veb .title p {
  font-weight: normal;
  color: #a89ffe;
  line-height: 30px;
}

.Copyright {
  height: 550px;
  width: 100vw;
  background: url("img/footer_bg.png") no-repeat bottom center, #211675;
  background-size: cover;
  padding: 60px 0 80px;
  margin-top: -200px !important;
  display: flex;
  justify-content: center;
}
.Copyright .con {
  margin-top: 170px !important;
  width: 100vw !important;
  text-align: center;
}
.Copyright .con .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Copyright .con .icon .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Copyright .con .icon .social li a {
  padding: 5px !important;
  display: flex;
  text-decoration: none;
}
.Copyright .con .icon .social li a i {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-color: #7A5CFF;
  padding: 15px !important;
  color: #ffffff !important;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.Copyright .con .icon .social li a:hover {
  color: #fff;
}
.Copyright .con .icon .social li a:hover i {
  background: #a722f4;
}
.Copyright .con p {
  margin-top: 70px !important;
}/*# sourceMappingURL=style.css.map */